:root {
    --brand-color: #6c63ff;
    --primary-color: #f9f7f3;
    --heading-font-family: "Playfair Display", serif;
    --regular-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--regular-font-family);
    text-align: center;
    background-color: #fff;
}

h1 {
    font-size: 90px;
    line-height: 1.5;
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h2 {
    font-size: 64px;
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

p {
   font-weight: normal;
   padding-bottom: 15px;
   font-size: 16px;
}

.pattern {
    background-color: var(--primary-color);
    text-align: center;
    padding: 150px 20px;
}

.pattern p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.pattern h2 {
    font-family: var(--regular-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.btn-brand {
    background: var(--brand-color);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 20px;
}

.btn-brand-yogurt {
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 20px;
}

.project-heat {
    padding: 100px 55px;
}

.content-section {
    padding: 150px 25px;
    text-align: center;
}

.content-work {
    margin: 40px;
    padding: 100px 20px;
    text-align: center;
}

.content-section p {
    font-size: 18px;
    font-family: var(--regular-font-family);
    text-align: center;
}

.content h1 {
    font-size: 55px;
    line-height: 70px;
    text-align: center;
}

.content h3 {
    font-size: 24px;
    line-height: 1;
    margin: 15px 0;
    font-family: var(--regular-font-family);
    font-weight: bold;
}

.content p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.about-content {
    margin: 40px;
}

.codes-logo {
    max-height: 70px;
}

nav {
    padding: 20px 0;

}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 45px;
    margin-left: 15px
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 50ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--brand-color);

}

@media (max-width: 960px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 50px;
    }

    .pattern {
        padding: 75px 10px;
    }

    .project-yogurt {
        padding: 0;
        text-align: center;
    }

    .content-section {
        text-align: center;
        padding: 0;
    }
}